p
{
	text-indent:2em;
}
div#div-logo
{
	height: 140px; width: 140px; margin-top: 10px; margin-bottom: 10px; background: #FFF; border-color: #0099F0;
	border-width: 2px;
}
div#div-logo>a>img
{
	height: 60%; width: 70%; margin: 15%;
}
div#div-searchbox
{
	width: 50%;	margin: auto;
}
div#div-nav
{
	margin-top: 10px; margin-bottom: 10px; background-color: #0099F0;
}
div#div-location>ol
{
	background-color: #FFF; border:solid 1px; border-color: #DDD;
}

div#div-article,div#div-feature
{
	margin-bottom: 10px;
}
div#div-footer
{
	height: 40px; padding-top: 5px; background-color: #0099F0;  color:#FFF; font-size: 150%; font-weight: bold; text-align: center;
}		
img#img-headProtrait
{
	height: 100px; width: 100px;
}