<!DOCTYPE html>
<html>
<head>
	<title>杜小豆的编程小道</title>
	<meta charset="utf-8">
	<link rel="bookmark"  type="image/x-icon"  href="images/favicon.ico"/>
  <link rel="shortcut icon" href="images/favicon.ico">
	<!-- bootstrap css -->
	<link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
  <!-- font-awesome css -->
  <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">


	<!-- jquery js -->
	<script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
	<!-- bootstrap js -->
	<script src="http://cdn.bootcss.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
  <!-- vue js -->
<!--   <script src="http://cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
 -->  <!-- vue-resource js -->
<!--   <script src="https://cdn.jsdelivr.net/vue.resource/1.0.1/vue-resource.min.js"></script>
 --></head>
<body>
	<div id="app" class="container">
    <Logo></Logo>
    <Searchbox></Searchbox>
    <Navigation title="杜小豆的编程小道"></Navigation>
    <Location name="location"></Location>
    <Ad></Ad>
    <Contact show="false"></Contact>
    <About show="true"></About>
    <Footerbar></Footerbar>
  </div>
  <script src="../javascripts/bin/article.bundle.js"></script>
    <!-- <div id="div-article"  class="col-lg-9" >
      	<iframe id="iframe-article" src="{{'http://localhost:3000/'+currentArticle.link}}" class="col-lg-12" style="border:none; height: 700px"></iframe>
		</div>

    <div id="div-featureArticleList" class="col-lg-3">
      <div class="list-group ">
      	<span class="list-group-item" style="background-color:#006DE0color:#fff;">
      		专题文章
      	</span>
  		  <a href="article?action=article-show&id={{featureArticleItem.id}}}" class="list-group-item" v-for="featureArticleItem in featureArticleList">
  			 {{featureArticleItem.title}}
  			 <span class="label label-pill label-info pull-right">1</span>
  		  </a>
			</div>
    </div>
  
  
    <div id="div-discuss" class="col-lg-offset-1 col-lg-10">
      <div class="col-lg-offset-1 col-lg-10 text-center">
        <div id="div-tips"  class="alert" role="alert" hidden>
        </div>
    </div>
      <div class="col-lg-10">
        <a class="btn btn-primary" data-toggle="collapse" href="#div-alldiscuss" aria-expanded="false" aria-controls="collapseExample" @click="getDiscuss()">全部评论</a>
        <a class="btn btn-primary" data-toggle="collapse" href="#div-adddiscuss" aria-expanded="false" aria-controls="collapseExample">添加评论</a>
        
        <div class="collapse" id="div-adddiscuss">
            <form>
              <fieldset class="form-group">
                <div class="col-lg-4">
                  <label for="input-nickname">昵称</label>
                  <input type="text" class="form-control" id="input-nickname" placeholder="昵称" v-model="newDiscuss.author">
                </div>
                <div class="col-lg-8">
                  <label for="input-email">联系方式</label>
                  <input type="email" class="form-control" id="input-email" placeholder="QQ/微信/电子邮箱" v-model="newDiscuss.contact">
                </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="col-lg-12">
                  <label for="input-discuss">评论</label>
                  <textarea type="text" class="form-control" id="exampleInputEmail1" placeholder="让我们的思想自由恋爱吧！" rows="3" v-model="newDiscuss.content"></textarea>
                  </div>
                  <div class="col-lg-offset-8 col-lg-3">
                    <button type="button" id="btn_add" class="btn btn-primary" @click="addDiscuss()">发表评论</button>
                  </div>
                </fieldset>
            </form>
        </div>
        <div class="collapse col-lg-12" id="div-alldiscuss">
             <ul class="list-group">
               <li class="list-group-item " v-for="discussItem in discussList" style="height: 120px;">
                 <div class="col-lg-2">{{discussItem.author}}</div>
                 <div class="col-lg-4">{{new Date(discussItem.timeCreate).toLocaleString()}}</div>
                 <div class="col-lg-12 alert alert-info" role="alert">{{discussItem.content}}</div>
               </li>
             </ul>
        </div>
      </div>
    </div>   -->


     <!-- <script>
       var vue = new Vue({
        el: 'body',
        data: {
          featureCurrent:null,
          featureArticleList:null,
          articleCurrent:null,
          discussList:null,
          newDiscuss:{
            author:'', 
            contact:'', 
            discussID:-1, 
            content:'',
          },
          articleCountOfPerPage:6
        },
        methods: {
          // getFeature: function(id)
          // {
          //   var _this = this;
          //   var fields = 'id, title';
          //   this.$http.get((`/feature?action=feature-search&fields=${fields}&condition=id:${id}`)).then((response) => 
          //   {
          //     var data = JSON.parse(response.body);
          //     console.log(response.body);
          //     if(!data.err){
          //       _this.featureCurrent = data.result[0];
          //       _this.getFeatureArticle(_this.featureCurrent.id);
          //     }else{
          //       console.log('获取专题列表失败');
          //     }
              
          //   });
          // },
          getQueryString: function(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
              return null;
          },
          getArticle: function(id)
          {
            var id = this.getQueryString('id');
            var from = 0;
            var count = 5;
            var _this = this;
            this.$http.put(`/article?action=article-search`, {condition:`id = ${id}`, from:0, count:1}).then((response) => 
            {
              console.log(response.body);
              var data = JSON.parse(response.body);
              if(!data.err){
                _this.articleCurrent = data.result[0];
              document.title = _this.articleCurrent.title+_this.articleCurrent.subtitle + '-' + document.title;
              $('#iframe-article').attr("src", 'article/'+_this.articleCurrent.link+'.html');
              _this.featureCurrent = _this.getFeature(_this.articleCurrent.featureID);
             }
            });
          },
          getFeatureArticle: function(id){
            var _this = this;
            var fields = 'id, featureID, title, subtitle, link';
            this.$http.get((`/article?action=article-search&fields=${fields}&condition=featureID:${id}`)).then((response) => 
            {
              console.log(response.body);
              var data = JSON.parse(response.body);
              if(!data.err){
               _this.featureArticleList = data.result;
             }
            });
          },
          addDiscuss:function(){
              var _this = this;
              console.log('发表评论');
              this.newDiscuss.discussID = this.getQueryString('id');
              this.$http.put('/article?action=article-discuss',{newDiscuss:this.newDiscuss}).then((response)=>
            {
              console.log(response.body);
              var data = JSON.parse(response.body);
              if(!data.err){
                _this.showTip('alert alert-success', '正确：添加评论成功,请等待审核。', 3000);
              }
              else
              {
                _this.showTip('alert alert-danger', '错误：添加评论失败', 3000);
              }
            });
          },
          getDiscuss:function(){
            var _this = this;
            var articleID = this.getQueryString('id');
            this.$http.get((`/article?action=article-discuss&id=${articleID}`)).then((response) => 
            {
              console.log(response.body);
              var data = JSON.parse(response.body);
              if(!data.err){
                console.log('获取评论列表成功');
                _this.discussList = data.result;
              }
            });
          },
          showTip: function(classText, text, time){
              $('#div-tips').attr('hidden',false).attr('class', classText).html(text);
              setTimeout(function()
              {
                $('#div-tips').attr('hidden', true);
              },time);
            }
        }
       });

       //vue.getArtileListOfPage(1);
       console.log('当前文章ID'+vue.getQueryString('id'));
       vue.getArticle(vue.getQueryString('id'));
     </script> -->
</body>
</html>