<!DOCTYPE html>
<html>
<head>
	<title>杜小豆的编程小道</title>
	<meta charset="utf-8">
	<link rel="bookmark"  type="image/x-icon"  href="images/favicon.ico"/>
  <link rel="shortcut icon" href="images/favicon.ico">
	<!-- bootstrap css -->
	<link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
  <!-- font-awesome css -->
  <link href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">

  <style type="text/css">
    #div-nav
    {
      margin-top: 10px; margin-bottom: 10px; background-color: #0099F0;
    }
  </style>

	<!-- jquery js -->
	<script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
	<!-- bootstrap js -->
	<script src="http://cdn.bootcss.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="app" class="container">
    <Logo></Logo>
    <div id="div-nav" class="navbar navbar-static-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="/">杜小豆的编程小道-管理中心</a>
    </div>
    <Messagebox></Messagebox>
    <Navtabs></Navtabs>
    <Login></Login>
    <Footerbar></Footerbar>
    <script src="../javascripts/bin/manage.bundle.js"></script>
  </div>
</body>
</html>
	<!-- <div class="container">
		<div id="div-logo" class="img-circle img-thumbnail img-responsive center-block">
			<a href="/"><img src ="images/logo/logo.png" title="杜小豆的编程小道"/></a>
		</div>
    
		<div id="div-nav" class="navbar navbar-static-top navbar-dark bg-inverse">
			<a class="navbar-brand" href="#">杜小豆的编程小道-管理中心</a>
    </div>

    <div id="div-manage"  class="col-lg-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#tabcontent-user" role="tab" data-toggle="tab" @click="activeItem='tabcontent-user', activeSubItem = 'tabcontent-user-all', getList('user', 0, 5)">用户</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tabcontent-content" role="tab" data-toggle="tab" @click="activeItem='tabcontent-content', activeSubItem = 'tabcontent-content-feature-all', getList('feature',0,5)">内容</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tabcontent-system" role="tab" data-toggle="tab" @click="activeItem='tabcontent-system', activeSubItem = 'tabcontent-system-state' ">系统</a>
        </li>
      </ul>

      <div class="col-lg-12">
          <div role="tabpanel" v-show="activeItem == 'tabcontent-user'" id="tabcontent-user">
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tabcontent-user-all" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-user-all'">
              全部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" @click="activeSubItem = 'tabcontent-user-verify'" href="#tabcontent-user-verify" role="tab" data-toggle="tab">待审核</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" @click="activeSubItem = 'tabcontent-user-add'" href="#tabcontent-user-add" role="tab" data-toggle="tab">添加</a>
            </li>
            </ul>
          </div>

          <div v-show="activeItem == 'tabcontent-content'" class="active" id="tabcontent-content">
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" :class="{'active':(activeSubItem == 'tabcontent-content-feature-all'||activeSubItem == 'tabcontent-content-feature-add')}"  href="#tabcontent-content-feature" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-feature-all', getList('feature', 0, 5)">内容：专题</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{'active':(activeSubItem == 'tabcontent-content-article-all'||activeSubItem == 'tabcontent-content-article-add')}"  href="#tabcontent-content-article" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-article-all', getList('article', 0, 5)">内容：文章</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{'active':(activeSubItem == 'tabcontent-content-discuss-all'||activeSubItem == 'tabcontent-content-discuss-verify')}"  href="#tabcontent-content-discuss" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-discuss-all', getList('discuss', 0, 5);">内容：评论</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{'active':(activeSubItem == 'tabcontent-content-message-all'||activeSubItem == 'tabcontent-content-message-verify')}"  href="#tabcontent-content-message" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-message-all'">内容：留言</a>
            </li>
            </ul>
          </div>

         系统：菜单 
        <div role="tabpanel" v-show="activeItem == 'tabcontent-system'" class="tab-pane" id="tabcontent-system">
          <ul class="nav nav-tabs"  role="tablist">
            <li class="nav-item">
              <a class="nav-link" href="#home" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-system-state'">状态</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#home" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-system-log'">日志</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#home" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-system-database'">数据库</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="#home" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-system-set'">设置</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" v-show="activeItem == 'tabcontent-content'">
          <div  role="tabpanel" class="tab-pane" :class="{'active':(activeSubItem == 'tabcontent-content-feature-all'||activeSubItem == 'tabcontent-content-feature-add')}" id="tabcontent-content-feature">
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" :class="{'active':activeSubItem == 'tabcontent-content-feature-all'}" href="#tabcontent-content-feature-all" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-feature-all'">专题：全部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{'active':activeSubItem == 'tabcontent-content-feature-add'}" href="#tabcontent-content-feature-add" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-feature-add'">专题：添加</a>
            </li>
            </ul>
          </div>

        <div role="tabpanel" class="tab-pane" :class="{'active':(activeSubItem == 'tabcontent-content-article-all'||activeSubItem == 'tabcontent-content-article-add')}" id="tabcontent-content-article">
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link" :class="{'active':(activeSubItem == 'tabcontent-content-article-all')}" href="#tabcontent-content-article-all" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-article-all'">文章：全部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{'active':activeSubItem == 'tabcontent-content-article-add'}" href="#tabcontent-content-article-add" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-article-add'">文章：添加</a>
            </li>
            </ul>
        </div>

        <div role="tabpanel" class="tab-pane" :class="{'active':(activeSubItem == 'tabcontent-content-discuss-all'||activeSubItem == 'tabcontent-content-discuss-verify')}" id="tabcontent-content-discuss">
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tabcontent-content-discuss-all" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-discuss-all', getList('discuss', 0, 5);">评论：全部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#tabcontent-content-discuss-verify" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-discuss-verify'">评论：待审核</a>
            </li>
            </ul>
        </div>

        <div role="tabpanel" class="tab-pane" :class="{'active':(activeSubItem == 'tabcontent-content-message-all'||activeSubItem == 'tabcontent-content-message-verify')}"  id="tabcontent-content-message">
            <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tabcontent-content-message-all" role="tab" data-toggle="tab" @click="activeSubItem = 'tabcontent-content-message-all'">留言：全部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabcontent-content-message-verify" role="tab" data-toggle="tab"
               @click="activeSubItem = 'tabcontent-content-message-verify'">留言：待审核</a>
            </li>
            </ul>
        </div>
        
        
      </div>
       实际的内容 
      <div>
          <div  v-show="activeItem == 'tabcontent-user'">
            <div class="list-group" v-show="activeSubItem == 'tabcontent-user-all'"  id="tabcontent-user-all">
              <ul class="list-group">
                <li class="list-group-item" v-for="userItem in userList" style="height: 50px;">
                  <div class="col-lg-2">{{userItem.name}}</div>
                  <div class="col-lg-2"><i class="fa fa-1x fa-user" aria-hidden="true"></i>{{userItem.nickname}}</div>
                  <div class="col-lg-2"><i class="fa fa-child" aria-hidden="true"></i>{{userItem.authority}}</div>
                  <div class="col-lg-4"><i class="fa  fa-1x fa-clock-o" aria-hidden="true"></i>{{new Date(userItem.timeCreate).toLocaleString()}}</div>
                  <div class="btn-group col-lg-2" >
                      <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-1x fa-cog" aria-hidden="true"></i>操作</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="user?action=user-show&name={{userItem.name}}"><i class="fa fa-1x fa-eye" aria-hidden="true"></i>预览</a>
                        <a class="dropdown-item" href="user?action=user-edit&name={{userItem.name}}"><i class="fa fa-1x fa-pencil-square-o" aria-hidden="true"></i>编辑</a>
                        <a class="dropdown-item" href="#" @click="delItem('user', 'name' ,userItem.name)"><i class="fa fa-1x fa-times" aria-hidden="true"></i>删除</a>
                      </div>
                    </div>
                </li>
              </ul>
              
            </div>
            <div v-show="activeSubItem == 'tabcontent-user-verify'"  id="tabcontent-user-verify">审核用户
            </div>
            <div v-show="activeSubItem == 'tabcontent-user-add'"  id="tabcontent-user-add">
              <form class="col-lg-8">
                <fieldset class="form-group">
                  <label for="input-username">用户名</label>
                  <input type="text" class="form-control" id="input-username" placeholder="用户名" v-model="newUser.name">
                </fieldset>
                <fieldset class="form-group">
                  <label for="input-nickname">昵称</label>
                  <input type="text" class="form-control" id="input-nickname" placeholder="昵称" v-model="newUser.nickname">
                </fieldset>
                <fieldset class="form-group">
                  <label for="input-password">密码</label>
                  <input type="password" class="form-control" id="input-password" placeholder="密码" v-model="newUser.password">
                  <small class="text-muted">确认密码</small>
                  <input type="password" class="form-control" id="input-passwordAgain" placeholder="再次输入密码">
                </fieldset>
                <fieldset class="form-group">
                  <label for="input-question">密保问题</label>
                  <input type="text" class="form-control" id="input-question" placeholder="密保问题" v-model="newUser.question">
                  <label for="input-anser">密码答案</label>
                  <input type="text" class="form-control" id="input-anser" placeholder="密码答案" v-model="newUser.anser">
                </fieldset>
                <fieldset class="form-group">
                  <label for="select-usertype">用户类型</label>
                  <select class="form-control" id="select-usertype" v-model="newUser.authority">
                    <option value="website">全站</option>
                    <option value="feature">专题</option>
                    <option value="article">文章</option>
                  </select>
                </fieldset>
                <fieldset class="form-group col-lg-offset-9">
                  <button type="button" class="btn btn-primary" @click="addUser()">添加用户</button>
                </fieldset>
               </form>
            </div>
        </div>

        <div  v-show="activeItem == 'tabcontent-content'">
           <div v-show="activeSubItem == 'tabcontent-content-feature-all'"  id="tabcontent-user-all">
              <ul class="list-group">
                <li class="list-group-item" v-for="featureItem in featureList" style="height: 50px;">
                  <div class="col-lg-3">
                    <a href="feature?action=feature-show&id={{featureItem.id}}"><i class="fa fa-1x fa-archive" aria-hidden="true"></i>{{featureItem.title}}</a>
                  </div>
                  <div class="col-lg-2">
                    <a href="author?action=author-show&id={{featureItem.author}}"><i class="fa fa-1x fa-user" aria-hidden="true"></i>{{featureItem.author}}</a>
                  </div>
                  <div class="col-lg-4">
                    <i class="fa  fa-1x fa-clock-o" aria-hidden="true"></i>{{new Date(featureItem.timeCreate).toLocaleString()}}
                  </div>
                  <div class="col-lg-2">
                    <a class="dropdown-item" href="feature?action=feature-show&id={{featureItem.id}}"><span class="label label-default label-pill">{{featureItem.countArticle}}</span></a>
                  </div>
                  <div class="btn-group col-lg-1" >
                      <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-1x fa-cog" aria-hidden="true"></i>操作</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="feature?action=feature-show&id={{featureItem.id}}"><i class="fa fa-1x fa-eye" aria-hidden="true"></i>预览</a>
                        <a class="dropdown-item" href="feature?action=feature-edit&id={{featureItem.id}}"><i class="fa fa-1x fa-pencil-square-o" aria-hidden="true"></i>编辑</a>
                        <a class="dropdown-item" href="#" @click="delItem('feature', 'id' ,featureItem.id)"><i class="fa fa-1x fa-times" aria-hidden="true"></i>删除</a>
                      </div>
                    </div>
                </li>
              </ul>
              <div id="div-feature-paging" class="col-lg-7 col-lg-offset-4">
                <nav>
                  <ul class="pagination">
                    <li class="{{page.currentFeature==1?'disabled':''}}">
                        <a href="#" aria-label="Previous" @click="getList('feature', 5*(page.currentFeature-1), 5)">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    
                    <li>
                      <a href="#" aria-label="Next" @click="getList('feature', 5*page.currentFeature, 5)">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li>
                      <div id="div-goto" class="input-group col-lg-3" style="margin-top: 2px;">
                          <input type="text" class="form-control" placeholder="页码">
                            <span class="input-group-btn">
                              <button class="btn btn-secondary" type="button">页</button>
                            </span>
                        </div>
                    </li>
                  </ul>
                    
                </nav>
              </div>
            </div>
            <div v-show="activeSubItem == 'tabcontent-content-feature-add'"  id="tabcontent-content-feature-add">
              <form class="col-lg-8">
                <fieldset class="form-group">
                  <label for="input-feature-title">专题名</label>
                  <input type="text" class="form-control" id="input-feature-title" placeholder="专题名" v-model="newFeature.title">
                </fieldset>
                <fieldset class="form-group">
                  <label for="input-feature-author">作者</label>
                  <input type="text" class="form-control" id="input-feature-author" placeholder="昵称" v-model="newFeature.author">
                </fieldset>
                <label for="textarea-introduction">简介</label>
                <textarea class="form-control" id="textarea-introduction" rows="3" v-model="newFeature.introduction"></textarea>
                <fieldset class="form-group col-lg-offset-9">
                  <button type="button" class="btn btn-primary" @click="addFeature()">添加专题</button>
                </fieldset>
               </form>
            </div>
            <div v-show="activeSubItem == 'tabcontent-content-article-all'"  id="tabcontent-user-all">
              <ul class="list-group">
                <li class="list-group-item " v-for="articleItem in articleList" style="height: 50px; margin: 0 auto;">
                  <div class="col-lg-3">
                    <a href="article?action=article-show&id={{articleItem.id}}"><i class="fa fa-1x fa-file" aria-hidden="true"></i>{{articleItem.title+articleItem.subtitle}}</a>
                  </div>
                  <div class="col-lg-2">
                    <a href="author?action=author-show&id={{articleItem.author}}"><i class="fa fa-1x fa-user" aria-hidden="true"></i>{{articleItem.author}}</a>
                  </div>
                  <div class="col-lg-4" >
                    <i class="fa fa-1x fa-clock-o" aria-hidden="true"></i>{{new Date(articleItem.timeCreated).toLocaleString()}}
                  </div>
                  <span class="col-lg-2">
                    <a href="feature?action=feature-show&id={{articleItem.featureID}}"><i class="fa fa-1x fa-archive" aria-hidden="true"></i>{{getFeatureName(articleItem.featureID)}}</a>
                  </span>
                    <div class="btn-group col-lg-1" >
                      <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-1x fa-cog" aria-hidden="true"></i>操作</button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="article?action=article-show&id={{articleItem.id}}"><i class="fa fa-1x fa-eye" aria-hidden="true"></i>预览</a>
                        <a class="dropdown-item" href="article?action=article-edit&id={{articleItem.id}}"><i class="fa fa-1x fa-pencil-square-o" aria-hidden="true"></i>编辑</a>
                        <a class="dropdown-item" href="#" @click="delItem('article', 'id' ,articleItem.id)"><i class="fa fa-1x fa-times" aria-hidden="true"></i>删除</a>
                      </div>
                    </div>
                  <span class="col-lg-1">
                    <span class="label label-default label-pill pull-right">{{featureItem.id}}</span>
                  </span>
                </li>
              </ul>
              <div id="div-article-paging" class="col-lg-7 col-lg-offset-4">
                <nav>
                  <ul class="pagination">
                    <li class="{{page.currentArticle==1?'disabled':''}}">
                        <a href="#" aria-label="Previous" @click="getList('article', 5*(page.currentArticle-1), 5)">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li>
                      <a href="#" aria-label="Next" @click="getList('article', 5*page.currentArticle, 5))">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li>
                      <div id="div-goto" class="input-group col-lg-3" style="margin-top: 2px;">
                          <input type="text" class="form-control" placeholder="页码">
                            <span class="input-group-btn">
                              <button class="btn btn-secondary" type="button">页</button>
                            </span>
                        </div>
                    </li>
                  </ul>
                    
                </nav>
              </div>
            </div>
            <div v-show="activeSubItem == 'tabcontent-content-article-add'"  id="tabcontent-user-all">添加文章
              <iframe src="http://localhost:3000/article?action=article-new" style="width: 100%; height: 500px;"></iframe>
            </div>
            <div v-show="activeSubItem == 'tabcontent-content-discuss-all'"  id="tabcontent-user-all">
               <ul class="list-group">
                  <li class="list-group-item " v-for="discussItem in discussList" style="height: 50px; margin: 0 auto;">
                      <div class="col-lg-4">
                        <span class="col-lg-4">
                          <a href=""><i class="fa fa-1x fa-user" aria-hidden="true"></i>{{discussItem.author}}</a>
                        </span>
                        <span class="col-lg-8">
                          <a href=""><i class="fa fa-1x fa-user" aria-hidden="true"></i>{{discussItem.contact}}</a>
                        </span>
                      </div>
                      <div class="col-lg-1">
                        <a href=""><i class="fa fa-1x fa-user" aria-hidden="true"></i>{{discussItem.discussID}}</a>
                      </div>
                      <div class="col-lg-3" >
                        <i class="fa fa-1x fa-clock-o" aria-hidden="true"></i>{{new Date(discussItem.timeCreate).toLocaleString()}}
                      </div>
                      <div class="col-lg-2">
                        <i class="fa fa-1x" :class="{'fa-flask':discussItem.state=='verify', 'fa-ban':discussItem.state=='unpass', 'fa-check':discussItem.state=='pass'}" aria-hidden="true"></i>
                        <i class="fa fa-1x " :class="{'fa-commenting-o':(discussItem.type=='disc'),'fa-commenting':(discussItem.type=='disc_res'),'fa-comments-o':(discussItem.type=='message'),'fa-comments':(discussItem.type=='message_res')}" aria-hidden="true"></i>

                        <a class="btn  btn-secondary btn-sm"  @click="showDiscussContent(true, discussItem.id)">内容</a>
                      </div>
                      <div class="btn-group col-lg-1" >
                          <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-1x fa-cog" aria-hidden="true"></i>操作</button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="#" @click="setDiscussState(discussItem.id, 'verify')"><i class="fa fa-1x fa-flask" aria-hidden="true" ></i>审核</a>
                            <a class="dropdown-item" href="#" @click="setDiscussState(discussItem.id, 'pass')"><i class="fa fa-1x fa-check" aria-hidden="true" ></i>通过</a>
                            <a class="dropdown-item" href="#" @click="setDiscussState( discussItem.id, 'unpass')"><i class="fa fa-1x fa-ban" aria-hidden="true" ></i>禁止</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" @click="setDiscussState(id, state)><i class="fa fa-1x fa-times" aria-hidden="true"></i>删除</a>
                          </div>
                      </div>
                  </li>
                <div id="div-discuss-content" class="col-lg-12 card  alert alert-info" role="alert"" ></div>
                <div id="div-discuss-paging" class="col-lg-7 col-lg-offset-4">
                <nav>
                  <ul class="pagination">
                    <li class="{{page.currentDiscuss==1?'disabled':''}}">
                        <a href="#" aria-label="Previous" @click="getList('discuss', 5*(page.currentDiscuss--), 5) ">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li>
                      <a href="#" aria-label="Next" @click="getList('discuss', 5*(page.currentDiscuss++), 5)">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li>
                      <div id="div-goto" class="input-group col-lg-3" style="margin-top: 2px;">
                          <input type="text" class="form-control" placeholder="页码">
                            <span class="input-group-btn">
                              <button class="btn btn-secondary" type="button">页</button>
                            </span>
                        </div>
                    </li>
                  </ul>
                    
                </nav>
              </div>
              </ul>
            </div>
            <div v-show="activeSubItem == 'tabcontent-content-discuss-verify'"  id="tabcontent-user-all">待审核评论
            </div>
            <div v-show="activeSubItem == 'tabcontent-content-message-all'"  id="tabcontent-message-all">a 全部留言
            </div>
            <div v-show="activeSubItem == 'tabcontent-content-message-verify'"  id="tabcontent-message-all">待审核留言
            </div>
        </div>
        <div  v-show="activeItem == 'tabcontent-system'">
            <div v-show="activeSubItem == 'tabcontent-system-state'"  id="tabcontent-message-all">系统状态
            </div>
            <div v-show="activeSubItem == 'tabcontent-system-log'"  id="tabcontent-message-all">日志
            </div>
            <div v-show="activeSubItem == 'tabcontent-system-database'"  id="tabcontent-message-all">数据库
            </div>
            <div v-show="activeSubItem == 'tabcontent-system-set'"  id="tabcontent-message-all">设置
            </div>
        </div>
      
      

      <div class="col-lg-offset-1 col-lg-10 text-center">
        <div id="div-tips"  class="alert" role="alert" hidden></div>
      </div>
      </div>
    </div>
    </div>
     页脚 
		<div id='div-footer' class="col-lg-12">
			 页脚-版权 
					Copyright © 2016 BadTudou. All rights reserved.		
    </div>
  </div>

     <script>
      var vue = new Vue({
        el:'body',
        data:{
          activeItem:'tabcontent-user',
          activeSubItem:'tabcontent-user-all',
          featureList:null,
          articleList:null,
          userList:null,
          discussList:null,
          newUser:
          {
            name:'',
            nickname:'',
            password:'',
            question:'',
            anser:'',
            authority:''
          },
          newFeature:
          {
            title:'',
            author:'',
            introduction:''
          },
          page:{
            currentArticle:1,
            currentFeature:1,
            currentDiscuss:1
          }
        },
        methods:{
          getList:function(itemType, from, to)
          {
            var _this = this;
            var fields = '';
            var fieldsAll = {
              'feature':'id, title, timeCreate, author, countArticle',
              'article':'id, featureID, title, author, subtitle, timeCreated, link, introduction',
              'user':'',
              'discuss':''
            };
            var fields = fieldsAll[itemType];
            this.$http.get((`/${itemType}?action=${itemType}-range&fields=${fields}&from=${from}&to=${to}`)).then((response) => 
            {
              console.log(response.body);
              var data = JSON.parse(response.body);
              if(!data.err){
                switch(itemType)
                {
                  case 'user':
                    _this.userList = data.result; break;
                  case 'feature':
                    _this.featureList = data.result; break;
                  case 'article':
                    _this.articleList = data.result; break;
                  case 'discuss':
                    _this.discussList = data.result; break;

                }
              }
            });
          },
          getFeatureName:function(featureID){
            for(var featureItem in this.featureList){
              if (this.featureList[featureItem].id == featureID){
                return this.featureList[featureItem].title;
              }
            }
          },
          getDiscussContont: function(discussID)
          {
            for(var discussItem in this.discussList){
              if (this.discussList[discussItem].id == discussID){
                return this.discussList[discussItem].content;
              }
            }
          },
          showDiscussContent: function(state, discussID){
            $('#div-discuss-content').text(this.getDiscussContont(discussID));
          },
          addUser:function(user){
            var _this = this;
            this.$http.put('user', {action:'user-add', newUser:this.newUser}).then((response)=>{
                  var data = JSON.parse(response.body);
                  _this.showOperateTip(!data.err, 'user', 'add');
                });
          },
          addFeature:function(feature){
            var _this = this;
            this.$http.put('feature', {action:'feature-add', newFeature:this.newFeature}).then((response)=>{
                  var data = JSON.parse(response.body);
                  _this.showOperateTip(!data.err, 'feature', 'add');
                });
          },
          showTip: function(classText, text, time){
              $('#div-tips').attr('hidden',false).attr('class', classText).html(text);
              setTimeout(function()
              {
                $('#div-tips').attr('hidden', true);
              },time);
          },
          generatePage: function(start, count){
            console.log(start+':'+count);
            var pages = [];
            for(var i = 0;i < count; i++){
              pages.push(Number(start)+i);
            }
            return pages;
          },
          showOperateTip:function(state, itemType, operateType){
            var itemTxt = {
              'user':'用户',
              'feature':'专题',
              'article':'文章'
            };
            var actionTxt = {
              'add': '添加',
              'del': '删除'
            };
            var tipclass = state?'alert alert-success':'alert alert-danger';
            var operateResultText = state?'正确:':'错误:';
            var tipResultText = state?'成功':'失败';
            this.showTip(tipclass, operateResultText+actionTxt[operateType]+itemTxt[itemType]+tipResultText, 3000);
            location.reload();
          },
          delItem:function(itemType, conditionItem, conditionText){
            console.log('执行'+itemType+conditionItem+conditionText);
            var _this = this;
            this.$http.get(itemType+'?action='+itemType+'-del'+'&'+conditionItem+'='+conditionText).then((response)=>{
              var data = JSON.parse(response.body);
              _this.showOperateTip(!data.err, itemType, 'del');
            });
          },
          setDiscussState:function(discussID, state){
            console.log('更改状态');
            var _this = this;
            console.log(`discuss?action=discuss-state&id=${discussID}&state=${state}`);
            this.$http.get(`discuss?action=discuss-state&id=${discussID}&state=${state}`).then((response)=>{
                var data = JSON.parse(response.body);
                if(!data.err){
                  console.log('操作成功');
                  for(var discussItem in _this.discussList){
                    if (_this.discussList[discussItem].id == discussID){
                      _this.discussList[discussItem].state = state;
                    }
                  }
                }
            });
          }
      }
      });

      vue.getList('user', 0, 5);

     </script> -->
